@charset "ISO-8859-1";
/* HEADER */
#header {
	display: block;
	background-color: gold;
	margin: 0 0 3em 0;
	table-layout: fixed;
	overflow: hidden;
}
header h1 {
	color: navy;
	margin-left: 0%;
	position: relative;
	-moz-animation-name: hello;
	-moz-animation-timing-function: linear;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
	white-space: nowrap;
}
@-moz-keyframes hello {
	0%, 100% {margin-left: -30%;}
	99.99% {margin-left: 100%;}
}


/* BODY */
body {
	margin: 20, 400, 0, 400;
}

#menu {
	float: left;
	width: 25%;
}

@media print {
	nav, footer {
	display: none;}
}

nav {
	-moz-animation: clignote 2s infinite;
}
nav li:hover {
	opacity: 1;
	color: green;
}

@-moz-keyframes clignote {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

/* CLOCK */
#clock {
	width: 250px;
	height: 250px;
}
#clock #clock-container{
	margin-left: auto;
	margin-right: auto;
	margin: 10px 10px;
	background: #fff url("./ios_clock.svg") no-repeat center;
	border-radius: 50%;
	background-size: 88%;
	height: 200px;
	position: relative;
	width: 200px;
}
.hour {
	background-color: black;
	height: 25%;
	left: 48.75%;
  	position: absolute;
	top: 25%;
  	transform-origin: 50% 100%;
  	width: 3%;
  	animation: tic-tac 720s infinite linear;
  	
}
.min {
	background-color: black;
	height: 40%;
	left: 48.75%;
  	position: absolute;
	top: 10%;
  	transform-origin: 50% 100%;
  	width: 1.5%;
  	animation: tic-tac 60s infinite steps(60);
}
.sec {
	background-color: red;
	height: 40%;
	left: 48.75%;
  	position: absolute;
	top: 10%;
  	transform-origin: 50% 100%;
  	width: 1%;
  	animation: tic-tac 1s infinite steps(60);
}
@-moz-keyframes tic-tac {
	100% {-moz-transform: rotateZ(360deg);}
}

/* FORMULAIRE */
div form {
	float: left;
	height: 25px;
}

/* TABLEAU */
div table {
	float: right;
}
#tableau {
	border-color: black;
}
#tableau td {
	width: 350px;
}
#tableau tr {
	transition: font, font-size 2s;
}
#tableau tr:first-child {
	font-size: 20px;
}
#tableau tr:nth-child(even) {
	background-color: green;
	color: white;
}
#tableau tr.bigle:hover {
	font: bold;
	font-size: 40px;
}
.titre:after {
	content: '\0000a9';
}
.journal {
	background-color: black;
}
.web {
	background-color: navy;
	color: gold;
}
.tv {
	background-color: magenta;
}


.bowling {
	float: left;
}
.bowling div {
	float: right;
	width: 20px;
	height: 20px;
	-moz-transition: quiller 3s ease-out;
}
.bowling div .quille:hover {
	-moz-transform-name: quiller;
	-moz-transform: translate(60px, 60px);
}


/* FOOTER */
footer {
	text-align: center; background-color : aqua;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: aqua;
}

footer p:before {
	content: '\0000a9';
}